@media (max-width:875px){
 *{border: red solid 1px;} 
 .menu-carrito{
      display: flex;
   } 
   .cart{
      color: var(--blanco);
      font-size: 20px;
      cursor: pointer;
   }
   #menu-cart:checked +  .compras-conteiner{
      display: flex;
   }
   .menu-header{
      display: none;
      flex-direction: column;
      justify-content: flex-start;
   }
    .menu-label{
      display: flex;
   } 
   
   #menu-toggle:checked + .menu-header{
      display: flex;
   }
   
    .logo{
        width: 40px;
        height: 40px;
        display: flex;
        padding: 0;
    }
    .home a{
      font-size: 10px;
   
    }

    .casita{
      width: 20px;
    }
    
    .carrito{
      width: 25px;
      height: 25px;
     
    }
   
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        flex-wrap:nowrap;
        align-items: center;
        padding: 15px 10px;
        margin: 0;
        position: fixed;
      
    }

    .navbar{
        display: flex;
        margin: 0;
        justify-content: center;
        align-items: center;
        gap: 20px;
        /* background-color: aqua; */
        
    }
    .toggle{
      font-size: 25px;
    }
    .menu-header{ 
      padding: 20px;
      margin: 0;
        position: absolute; 
        left: 5%;
        right: 5%;
        background-color:#302f2f;
        width: 90%;
        top: 80px; 
        gap: 50px; 
        border: solid var(--blanco);
        border-top: 0;
        border-radius: 0 0 15px 15px;
        
    }
     .home a{
      display: flex;
      font-size: 15px;
      font-weight: 800;
      
    }

    #hero{
      display: flex;
      flex-direction: column;
      margin: 0;
      
    }

    .hero-conteiner{    
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    .hero-conteiner h1{
        font-size: 50px;
        padding: 0;
    }

    .hero-descripcion span{
        font-size: 40px;
        padding: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero-descripcion p{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .hero-boton{ 
        font-size: 15px;
        width: 100px;
        height: 30px;
        padding: 0;
        margin: 0;
     }
     .imagen-conteiner{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      }

      .imagen-conteiner img{
         width: 300px;
         height: 300px; 
         padding-bottom: 35px;  
      }
      #menu h3{
            font-size: 25px;
            padding: 0;
            display: flex;
            justify-content: center;
               
         }
         .conteiner{
            padding-top: 20px;
         }

      .menu-conteiner{
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
            align-items: center;
            
         }

      .boton{
            margin: 0;
         }
      #categoria h3{
            padding: 25px;
            padding-bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
         }

      .conteiner-categoria{
            padding: 0;
            padding-top: 20px;
         }

      #lo-mas-populares{
            margin: 0;
            padding: 0;
         }

      #lo-mas-populares h3{
            display: flex;
            justify-content: center;
            padding: 0;
            margin-top: 30px;
            margin-bottom: 20px;
            width: 100%;  
            font-size: 25px; 
         }
        
      .ultimo-conteiner{
            padding: 0;
            justify-content: center;
            gap: 30px;
         }

      .contenedor{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 220px;
            width: 300px;
            padding: 20px;         
         }

      .contenedor img{
            width: 250px;
            height: 100px;
            padding-top: 0px;
         }

      .precio{
            display: flex;
            gap: 50px;
         }

      .conteiner-footer{
            display: flex;
            padding: 20px;
            width: 100%;
            padding-top: 0;
            margin-top: 50px;
            align-items: center;
            justify-content: center;
         }

      footer a{
            font-size: 12px;
            margin: 0;
            padding: 0;
        }

      footer p{
            padding: 0;     
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 20px;
        }
        /* compras carrito */

        .compras-conteiner{
         position: absolute;
         top: 80px;
         /* left: 40%; */
         right: 0;
         padding: 30px 50px;
         background-color:#302f2f;
         border:solid #64d3ff 1px ;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         border-top: none;
         border-radius: 15px 0 0px 15px;
         gap: 30px;
         display: none;
         height: calc(100vh - 80px);
         overflow-y: scroll;
         }
        
         

     
     .menu-label{
      order: 2;
     }
     .compras{
         display: flex;
         flex-direction: column;
         background-color: #8f8787;
          
     } 

.compras-carrito{
   display: flex;
   justify-content: center;
   align-items: center;
   width:70%;
   /* background-color: rgb(241, 239, 98); */
   /* background-color: rgb(83, 83, 119); */
   border-radius: 15px;
   border: solid #64d3ff 1px;
   
}
.compras-conteiner h2{
   font-size: 30px;
   font-weight: 800;
   width: 100%;
   text-align: center;
   justify-content: center;
   margin-bottom: 0px;
   background: linear-gradient(246deg, rgba(255,255,255,1) 47%, rgba(246,18,241,1) 72%);
   color: transparent;
   background-clip: text;
   -webkit-background-clip: text; 
   
    
}
.compras-carrito img{
   width:90px;
}
.compras-carrito{
   padding:20px 20px;
   gap: 20px;
   flex-wrap: wrap;
   line-height: 30px;
   width: 80%;
   max-width: 500px;
}

.carrito-conteiner{
   display: flex;
   flex-direction: column;
   color: var(--blanco);
}
.compra-descripcion{
   color:#8f8787;
}
.compra-precio{
   font-size: 25px;
   font-weight: 800;
   background: linear-gradient(246deg, rgba(255,255,255,1) 47%, rgba(246,18,241,1) 72%);
   color: transparent;
   background-clip: text;
   -webkit-background-clip: text;
   
}
.mas-menos{
   color: var(--blanco);
   font-size: 15px;
   border: solid 0.5px #64d3ff ;
   border-radius: 5px;
   padding: 1px 10px;
   font-weight: 800;
   cursor: pointer;
}
.mas-menos:hover{
   background-color: #64d3ff;
   transition: all 0.5s ease;

}
.cantidad{
   color: var(--blanco);
}
.conteiner-cantidad{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
.divisor{
   border: solid 1px #64d3ff ;
   width: 80%;
   margin-top: 20px;
   margin-bottom: 30px;

}
.conteiner-total{
   display: flex;
   width: 80%;
   justify-content: space-between;
   align-items: center;
}
.total-final{
   font-size: 30px;
   color: var(--blanco);
}
.total-compra{
   font-size: 30px;
   font-weight: 800;
   background: linear-gradient(246deg, rgba(255,255,255,1) 47%, rgba(246,18,241,1) 72%);
   color: transparent;
   background-clip: text;
   -webkit-background-clip: text;
}
.compra-final{
   margin-top: 0px;
   width: 80%;
   border: none;
   border-radius: 20px;
   height: 40px;
   font-size: 25px;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: all 0.3s ease;
}
.compra-final:hover{
   background-color: #64d3ff;
   transition: all 0.3 ease;
}
.compra-final:active{
color: rgb(253, 1, 1);
}


@media(max-width:576px){

   header{
      justify-content: space-between;
      align-items: center;
      height: 40px; 
      background-color: none;
    }

   .logo{
      width: 50px;
      height: 42px;
      justify-content: center;
      align-items: center;
   
   }

   .casita{
      width: 22px;
   }

   .home a{
      font-size: 15px;
   }

   .home{
      gap: 2px;
   }

   .carrito{
      width: 30px;
      height: 30px;
   }

   .profile{
      width: 25px;
      height: 25px;
   }

   .menu-header{
      top: 40px;
   }
   .compras-conteiner{
      top: 40px;
   }

   #hero{   
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      padding-top: 40px;
   }

   .hero-conteiner h1{
      width: 100%;
      font-size: 30px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
   }

   .hero-conteiner{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      
   }

   .hero-descripcion{
      width: 100%;
   }

   .hero-descripcion span{
      font-size: 25px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      
   }

   .hero-descripcion p{
      font-size: 15px;
      font-weight: 500;
      padding-left: 80px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 10px;
  }

  .hero-boton{ 
      font-size: 10px;
      width: 70px;
      height: 25px;
      padding: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 0;
   
   }
   
   .imagen-conteiner{
      width: 100%;
   }

   .imagen-conteiner img{
      width: 150px;
      height: 150px;
      padding-bottom: 5px;
   }
   #menu{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      
      
   }   
   #menu h3{
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 0;
   }
   .menu-conteiner{
      display: flex;
      margin: 0 15px;
      
   
   }
   .conteiner{
      display: flex;
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      gap: 20px;
      
   }
   .menu-conteiner img{
      width: 80px;
      height: 80px;
      
      }

   
   .p-nombre{
      font-size: 15px;
      }
   .p-descripcion{
      font-size: 12px;
      display: flex;
      
   }
   #categoria h3{
      font-size: 20px;
      font-weight: 600;
      margin-top: 30px;
      padding: 0;

   }  
   .descripcion-categoria{
      margin: 0 15px;
      padding: 0;
   }
   .conteiner-categoria{
      margin: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      gap: 20px;
   }
   
   #lo-mas-populares h3{
      margin-top: 30px;
      font-size:20px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 0;
     }
     .ultimo-conteiner{
      padding-top: 20px;
     }
     
   .contenedor{
      margin:0 15px;
      text-align: center;
      width: 250px;
   }

   .contenedor img{
      width: 200px;
      height: 80px;
      padding-top: 0px;
   }

   .precio p{
      font-size: 20px;
   }
   .precio{
      
      gap: 20px;
   }

   .boton{
      width: 80px;
      height: 20px;
      font-size: 15px;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 1px;
   }

   .coment{
      font-size: 15px;
   }
 
   footer a{
      font-size: 10px;
      margin: 0;
      padding: 0;
  }

    footer p{
      padding: 0;   
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 15px;
  }

  .lista-footer{
   gap: 10px;
  }
  .compras-conteiner{
   width: 100%;
   left: 0;
   border: none;
   height: calc(100vh - 40px);
   overflow: scroll;
   
  }
  .compras-carrito{
   max-width: 400px;
  }
}








